.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

ul {
  list-style: none;
  padding-left: 0;
}

.navItem {
  display: inline-block;
  padding: 5px;
  font-size: 15px;
}

.navItem a {
  text-decoration: none;
  color: whitesmoke;
}

.navDiv {
  background-color: black;
  justify-content: center;
}


@media (min-width: 450px) {
  li {
    display: block;
    font-size: 28px;
    min-width: 50px;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

  }

  .navDiv {
    padding: 1rem;
    max-width: 30%;
    height: 100vh;
  }

  .contentContainer {
    display: flex;
    justify-content: center;
  }

  .containingDiv {
    display: flex;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
