

.App {
  text-align: center;
}
.nav {
  padding-left: 0;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navItem {
  display: inline-block;
  font-size: 15px;
  padding: 5px;
}

.navItem a {
  color: whitesmoke;
  text-decoration: none;
}
.navItem a:hover {
  color: whitesmoke;
  text-decoration: underline;
  transition: all .7s ease 0s;
}

.navDiv {
  background-color: black;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 300;
}

.dealership {
  margin-top: 40px;
  width: 100%;
}

.red {
  color: red;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.underline {
  text-decoration: underline;
}

.homeCar {
  display: block;
  height: 300px;
  width: 100%;
}
h5 {
  font-size: 30px;
  margin: 20px 0;
  padding: 0;
}
.carlistlink {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-size: 50px;
  height: 60px;
  margin: 20px auto 20px auto;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
.carlistlink:hover {
  background-color: black;
  border: 2px solid black;
  box-shadow: inset 0 0 0 2px white;
  color: white;
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
  transition: all .2s ease 0s;
}
.carlistlink:active {
  background-color: black;
  border: 2px solid black;
  box-shadow: inset 0 0 0 2px white;
  color: white;
  transition: all .2s ease 0s;
}
.continueShopping {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-size: 25px;
  height: 30px;
  margin: 20px auto 20px auto;
  text-align: center;
  text-decoration: none;
  width: 400px;
}
.continueShopping:hover {
  background-color: black;
  border: 2px solid black;
  box-shadow: inset 0 0 0 2px white;
  color: white;
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
  transition: all .2s ease 0s;
}

.allCars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;;
}
.allCars li {
  margin: 20px 0;
  width: 65%;
}
.carImage img {
  border-radius: 5px;
}
.carImage img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.productInfo {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.productInfo p {
  padding: 0 10px;
  width: 60%;
}

.hasText p {
  font-size: 20px;
  margin: 6% 5% 6% 5%;
}
.hasText2 {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-around;
}

.energyhome {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.energyhome p {
  margin: 20px 40px 0 20px;
}
.energyhomepic {
  width: 100%;
}
.navlogo {
  display: none;
}
.carsContainer {
  height: 100vh;
  margin-top: 70px;
  position: absolute;
}

.carsContainer ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.carsContainer h2 {
  margin-top: 0;
}

.carsContainer li {
  margin-bottom: 0;
}
.liContainerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
  text-align: center;
}
.carsButton {
  background-color: black;
  color: white;
  font-size: 20px;
}
.carsButton:hover {
  background-color: white;
  color: black;
}
.leftDiv {
  margin: 0 auto;
  width: 70%;
}

.rightDiv {
  margin: 20px auto;
  width: 30%;
}

.deleteButton {
  border: 1px solid black;
  border-radius: 3px;
  margin: 20px auto 0 auto;
  width: 100px;
}
.deleteButton:hover {
  background-color: red;
}
.deleteButton:active {
  background-color: red;
}
.quantInput {
  background-color: lightgrey;
  text-align: center;
}

.carImage img {
  height: 200px;
  width: 100%;
}

.listImage {
  height: 100px;
  width: 100%;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  left: 23%;
  margin-left: 0;
  overflow-y: scroll;
}

.buyDiv a {
  color: red;
  text-decoration: none;
}

.buyDiv h2 {
  border: 2px solid black;
  padding: 5px;
}
.contactImage {
  margin-right: 35px;
  max-height: 500px;
  width: 100%;
}
.headshot {
  width: 70%;
}
.contactInfo h2 {
  text-align: center;
}
.subtotalDiv {
  font-size: 30px;
  margin-top: 20px;
}
.toggleOnZIP {
  font-size: 30px;
}
.successContainer {
  margin-top: 80px;
  position: absolute;
}
@media (min-width: 680px) {
  .navlogo {
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 70%;
  }
  .navItem {
    display: block;
    font-size: 36px;
    margin: 20px 0;
    min-width: 50px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .navDiv {
    height: 100vh;
    position: fixed;
    width: 20%;
  }

  .contentContainer {
    display: block;
    left: 20%;
    margin-left: 0;
    overflow-y: scroll;
    position: absolute;
  }

  .containingDiv {
    display: flex;
  }

  .hasText {
    display: flex;
    margin-left: 3%;
  }

  .homeCar {
    height: 500px;
  }

  .hasText p {
    font-size: 20px;
    margin: 2% 2% 5% 2%;
    width: 45%;
  }

  .hasText2 {
    font-size: 30px;
  }
  .adjustMargin {
    text-align: left;
  }

  .dealership {
    width: 100%;
  }
  .carsContainer {
    display: block;
    left: 20%;
    margin-left: 0;
    margin-top: 10px;
    overflow-y: scroll;
    position: absolute;
  }

  .allCars li {
    margin: 20px 10px;
    width: 30%;;
  }

  .listImage {
    height: 200px;
    width: 100%;
  }
  .contactContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 23%;
    margin-left: 0;
    margin-top: 20px;
    overflow-y: scroll;
    position: absolute;
  }
  .contactInfo {
    margin-bottom: 20px;
    margin-left: 0;
    text-align: left;
    width: 100%;
  }
  .office {
    padding: 20px 20px 20px 0;
    text-align: left;
    width: 30%;
  }
  .buyDiv a {
    color: red;
    text-decoration: none;
  }

  .buyDiv h2 {
    border: 2px solid black;
    padding: 5px;
  }
  .carsContainer li {
    margin-bottom: 0;
  }
  .carsButton {
    background-color: black;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .carsButton:hover {
    background-color: white;
    color: black;
  }
  .leftDiv {
    width: 40%;
  }
  .leftDiv img {
    border-radius: 3px;
    height: 200px;
  }
  .rightDiv {
    width: 60%;
  }

  .liContainerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    text-align: center;
  }
  span {
    font-size: 30px;
  }
  .successContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 98vh;
    justify-content: center;
    left: 20%;
    margin-top: 10px;
    overflow-y: scroll;
    position: absolute;
    width: 80%;
  }
}
