.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navItem {
  display: inline-block;
  font-size: 15px;
  padding: 5px;
}

.navItem a {
  color: whitesmoke;
  text-decoration: none;
}

.navDiv {
  background-color: black;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.dealership {
  width: 100%;
}

.red {
  color: red;
  letter-spacing: 2px;
}

.underline {
  text-decoration: underline;
}

.homeCar {
  display: none;
}

.mobileCar {
  width: 100%;
}

.carlistlink {
  border: 2px solid black;
  color: black;
  display: inline-block;
  font-size: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 100px;
}



@media (min-width: 450px) {
  .navItem {
    display: block;
    font-size: 36px;
    min-width: 50px;
    padding: 20px 0;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .navDiv {
    height: 100vh;
    padding: 1rem;
    position: fixed;
    width: 20%;
  }

  .contentContainer {
    display: block;
    left: 20%;
    margin-left: 0;
    overflow-y: scroll;
    position: absolute;
  }

  .containingDiv {
    display: flex;
  }

  .hasText {
    display: flex;
    margin-left: 3%;
  }

  .hasText p {
    font-size: 20px;
    margin: 5%;
    width: 45%;
  }
  .homeCar {
    display: inline-block;
    height: 170px;
    width: 30%;
  }

  .mobileCar {
    height: 170px;
    width: 30%;
  }

  .adjustMargin {
    text-align: left;
  }

  .dealership {
    border-radius: 78px;
    width: 85%;
  }
}
