html,
body {
  box-sizing: border-box;
  font-family: 'Gotham medium', sans-serif;
  margin: 0;
  padding: 0;
}
* {
  /*border: 2px solid red;*/
}
.container {
  background-color: black;
  height: 100vh;
}
.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;;;
}
.teslaname {
  color: white;
  height: 86px;
  margin: 20px auto 0 auto;
  padding: 20px 20px 0 20px;
  width: 80%;
}
.teslaname img {
  width: 100%;
}
.teslalogo {
  height: 220px;
  margin: 20px auto 20px auto;
  padding: 0;
  width: 50%;
}
h1 {
  color: white;
  display: inline-block;
  font-size: 60px;
  margin: 0 auto;
  padding: 0;
}
.homelinkcontainer {
  display: flex;
  justify-content: center;
}
.homelink {
  border: 2px solid white;
  color: white;
  font-size: 40px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 450px) {
  .container {
    background-image: url('Images/landingpage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;;
  }
  .landing {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .teslaname {
    color: white;
    height: 86px;
    margin: 0 auto 0 20px;
    padding: 20px 65px 0 20px;
    width: 33%;
  }
  .teslalogo {
    height: 220px;
    margin: 0 25px 0 0;
    padding: 0;
    width: 20%;
  }
  h1 {
    color: white;
    display: inline-block;
    font-size: 80px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .homelink {
    border: 2px solid white;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
  }
}
